<!DOCTYPE html>
<html lang="en" >
    <head>
        <h1> PII security framework </h1>
        <link rel="stylesheet" href="./static/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script>
            function check() {
                if (document.getElementById('otype').value == 'file') {
                    document.getElementById('filetype').disabled = false;
                }
            }
        </script>
    </head>
    <body>
        <form>
            <div class="form__fieldset">
                <label for="otype" class="form__label">Type of object to be encrypted : </label>
                <select name="otype" id="otype" onchange='check()' class="form__input form__select">
                    <option value="">Select an object</option>
                    <option value="table">table</option>
                    <option value="file">file</option>
                </select>
            </div>

            <div class="form__fieldset">
                <label for="filetype" class="form__label">Choose filetype : </label>
                <select name="filetype" id="filetype" class="form__input form__select" disabled>
                    <option value="">Select a format</option>
                    <option value="csv">csv</option>
                    <option value="Avro">avro</option>
                    <option value="Json">json</option>
                    <option value="Parquet">parquet</option>
                </select>
            </div>

            <div class="form__fieldset">
                <input class="form__submit form__input" name="encrypt" type="submit" value="Encrypt" />
            </div>

        </form>
    </body>
</html>