<!DOCTYPE html>
<html lang="en" >
    <head>
        <h1> PII security framework </h1>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script>
            var previous = [];
            function check() {
                if (document.getElementById('otype').value == 'file') {
                    document.getElementById('filetype').disabled = false;
                }
                else {
                    window.location.assign("/otype/")
                }
            }
            
            function sendUrl() {
                if (document.getElementById("filetype").value) {
                    window.location.assign("/otype/" + document.getElementById("filetype").value)
                }
                previous.append($('#otype').value);
                previous.append($('#filetype').value);
            }

            function encryptURL() {
                window.location.assign("/encrypt/")
            }

            // $(document).ready(function() {
            //     $('#otype').change(function(){
            //         req = $.ajax({
            //             url: '/prepareObject',
            //             type: 'GET',
            //             data: {
            //                 otype: $('#otype').val(),
            //                 filetype: $('#filetype').val()
            //             }
            //         })
            //     })
            // })
        </script>
    </head>
    <body>
        <form>
            <div class="form__fieldset">
                <label for="otype" class="form__label">Type of object to be encrypted : </label>
                <select name="otype" id="otype" onchange='check()' class="form__input form__select">
                    <option value="">Select an object</option>
                    <option value="table">table</option>
                    <option value="file">file</option>
                </select>
            </div>

            <div class="form__fieldset">
                <label for="filetype" class="form__label">Choose filetype : </label>
                <select onchange='sendUrl()' name="filetype" id="filetype" class="form__input form__select" disabled>
                    <option value="">Select a format</option>
                    <option value="csv">csv</option>
                    <option value="avro">avro</option>
                    <option value="json">json</option>
                    <option value="parquet">parquet</option>
                </select>
            </div>
            {{ out | safe}}
            <br>
            <div class="form__fieldset">
                <button class="form__submit" name="encrypt" type="button" value="Encrypt" onclick="encryptURL()">Encrypt</button> 
            </div>
            {{ enc_out | safe}}
            <br>
        </form>
    </body>
</html>